<h3 *ngIf="!isEdit">New Note</h3>
<h3 *ngIf="isEdit">Edit Note</h3>

<form [formGroup]="newNoteForm" (ngSubmit)="onSubmit()">
    <input type="hidden" formControlName="id" />
    <mat-form-field>
        <mat-label>Note Title:</mat-label>
        <input type="text" matInput formControlName="noteTitle" />
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Note Text:</mat-label>
        <textarea matInput formControlName="noteText"></textarea>
    </mat-form-field>

    <div formArrayName="labels">
        <div *ngFor="let labels of (isEdit ? labels : newNoteForm.get('labels').controls);
        let labelIndex = index
      ">
            <div class="labels" [formGroupName]="labelIndex">
                <mat-form-field>
                    <mat-label>Label Text and Color:</mat-label>
                    <input type="text" matInput formControlName="labelText" value="{{labels.labelText}}" />
                </mat-form-field>
                <div>
                    <mat-radio-group formControlName="labelColor">
                        <mat-radio-button name="labelColor" value="red">Red</mat-radio-button> &nbsp;
                        <mat-radio-button name="labelColor" value="blue">Blue</mat-radio-button>
                        &nbsp;
                        <mat-radio-button name="labelColor" value="pink">Pink</mat-radio-button>
                    </mat-radio-group>
                </div>
                <button color="primary" mat-icon-button matTooltip="Remove Label" (click)="deleteLabel(labelIndex)">
          <mat-icon>clear</mat-icon>
        </button>
            </div>
        </div>
    </div>
    <button class="add" mat-button type="button" (click)="addLabel()">
    Add Label
  </button>
    <div class="buttons" mat-dialog-actions>
        <button mat-button type="button" (click)="onNoClick()">Cancel</button>
        <button mat-raised-button color="primary" type="submit" cdkFocusInitial>
      Submit
    </button>
    </div>
</form>